{% extends "content.html" %}

{% block title %}添加用户{% endblock %}

{% block content %}
<div class="ok-body">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">登录ID</label>
            <div class="layui-input-block">
                <input type="text" name="login_id" placeholder="请输入登录ID" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="user_name" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="emails" placeholder="请输入邮箱" autocomplete="off" class="layui-input" lay-verify="email">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" placeholder="请输入电话" autocomplete="off" class="layui-input" lay-verify="phone">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <div id="access-control" class="xm-select-demo"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block scripts %}

<script>
    var ac = xmSelect.render({
        el: '#access-control',
        radio: true,
        data: [
            {name: '超级管理员', value: 1},
            {name: '管理员', value: 2},
            {name: '一般用户', value: 3},
        ]
    })

</script>

<script>
    layui.use(["okLayer","form"], function () {
        var form = layui.form;
        var okLayer = layui.okLayer;

        form.on("submit(add)", function (res) {

            var login_id = res.field.login_id
            var user_name = res.field.user_name
            var password = res.field.password
            var emails = res.field.emails
            var phone = res.field.phone
            var status_code = 0;

            $.ajax({
                 type:'POST',
                 // 通过url调用视图函数
                 url:'./insert',
                 // async:true 异步请求 此时不修改全局变量
                 async:true,
                 cache:false,
                 data:{
                 'login_id': login_id,
                 'user_name': user_name,
                 'password': password,
                 'emails': emails,
                 'phone': phone,
                 'status': status_code
                 },
                 dataType:'json',
                 // 返回成功, 执行函数
                 success:function(res){
                      okLayer.msg.greenTick("添加成功", function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                     }
                 });

            return false;
        });

    })
</script>
{% endblock %}
